@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>控规单元控制系统</title>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/tj")
    @Styles.Render("~/Content/css")
    <style type="text/css">
        #banner {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100px;
            background: #FF9900;
        }

        #sidebar {
            position: fixed;
            top: 100px;
            left: 0;
            bottom: 0;
            width: 200px;
            background: gray;
        }

        #content {
            position: fixed;
            top: 100px;
            right: 0;
            bottom: 0;
            left: 200px;
            background: lightgray;
            overflow-x: hidden;
            overflow-y: auto;
        }

        #popup {
            position: fixed;
            top: 0;
            left: 40%;
            width: 300px;
            height: 300px;
            background: dimgray;

            /*position: fixed;
            top: 0px;
            left: 40%;
            opacity: 0;
            margin-top: 0;
            width: 300px;
            background-color: black;
            color: white;
            padding: 60px 20px;
            box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
            -moz-box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
            border-bottom: 2px solid #efebda;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            -moz-border-bottom-left-radius: 20px;
            -moz-border-bottom-right-radius: 20px;
            -webkit-border-bottom-left-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;*/
        }
    </style>
</head>
<body>
    <div id="banner">
        <div class="header">
            <div class="title">
                <h1>
                    <br/><a href="@Href("~")" style="color: White; text-decoration: none">
                        控规单元控制系统</a>
                </h1>
            </div>
            <div class="loginDisplay">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="sidebar"></div>
    <div id="content"></div>
    <div id="popup"></div>
</body>
</html>
