@*<h3>同城办公平台功能列表</h3>
<ul>
    <li>日程管理</li>
    <li>任务管理</li>
    <li>事项管理</li>
    <li>会议管理</li>
    <li>资产管理</li>
    <li>资料管理</li>
    <li>公文管理</li>
    <li>公告管理</li>
    <li>流程管理</li>
    <li>表单管理</li>
    <li>权限管理</li>
    <li>定制管理</li>
    <li>沟通管理</li>
    <li>插件功能</li>
</ul>*@

<img src="@Href("~/Images/home.jpg")" />
