<h2>
    流程管理 - 创建新流程
</h2>
<p>
    在流程编辑器中以可视化的方式创建流程。
</p>
<p>
    @MyHelpers.NavButton("返回", Url.Action("FlowList"))
</p>
<div>
    @MyHelpers.Silverlight(Href("~/ClientBin/FlowEditor.xap"))
</div>
