@{
    ViewBag.Title = "Step1";
}
<style>
    .stepNumber {
        background-color: #cc3300;
        color: white;
        padding: 5px 10px;
        font-size: 16pt;
        font-weight: bold;
        margin-right: 5px;
    }

</style>
<h2>流程步骤 - @ViewBag.flow.Name - @ViewBag.inst.Name - @ViewBag.nodeName
</h2>
