/* CSS file placeholder. */
body
{
    font-family: Tahoma;
}

blockquote
{
    margin-left: 0;
    border-left: 5px solid skyblue;
    padding-left: 10px;
}

.layout-table
{
    border-collapse: separate;
    border-spacing: 5px;
    border: 0;
}

.right-align
{
    text-align: right;
}

td input
{
    width: 100%;
}

col
{
    width: 50px;
}