@{
    Layout = "../_Layout.cshtml";

    WebSecurity.Logout();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log Out</title>
</head>
<body>
    <h1>
        Log Out</h1>
    <p>
        We have been logged out from the site.</p>
    <p>
        <a href="default">Return to home page</a></p>
</body>
</html>
