@{
    ViewBag.Title = "Import";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value=" " />
    <input type="submit" value="Upload" />
</form>